.searchbar-container {
  text-align: center;
  align-items: center;
  background: transparent;
  border: 1px solid black;
  border: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

  .search {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
  }

  .input-searchbar {
    border: 0px;
    width: calc(100% - 54px);
    background: transparent;
    padding: 16px 24px;
    font-size: 16px;
  }

  .btn-search {
    padding: 16px;
    border: 0px;
    background: transparent;
  }

  .search-icon {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  *:focus {
    outline: none;
  }
}

.search-results-container {
  background: white;
  border-radius: 15px;
  padding:8px;
  margin-left: auto;
  margin-right: auto;
  width: 984px;

  .search-results-btn {
    width:100%;
    text-align: left;
    padding: 16px;
    border: 0;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
  }

  :hover .search-results-btn {
    background: #E9E9E9;
    border-radius: 10px;
  }
}



.weather-container {
  text-align: center;
  border-radius: 15px;
  background: white;
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  .container-1 {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 16px 0 32px 0;
    column-gap: 24px;

    .location-time {
      padding-left: 54px;

      table {
        width: 100%;
        text-align: left;
      }
    }

    .temperature {
      font-size: 130px;
      font-weight: 500;
      padding-top: 24px;
      line-height: normal;
      height: auto;
    }

    .status {
      font-size: 35px;
      font-weight: 500;
      padding-bottom: 54px;

      .temp-desc {
        display:none;
      }
    }

    .forecast-container {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center;

      .today {
        padding: 16px;
        border: 2px solid lightgray;
        border-radius: 15px;
        margin-right: 24px;
      }

      .day-font {
        margin: 0;
        font-size: 14px;
      }

      .temp-font {
        margin: 12px 0 0 0;
        font-size: 24px;
        font-weight: 500;
      }

      .status-font {
        margin: 12px 0 0 0;
        font-size: 12px;
        color: gray;
      }

      .other-days {
        padding: 16px;
      }
    }
  }

  .container-2 {
    flex: 1;
    background: #f6f6f6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;

    .greeting {
      padding: 32px 8px 32px 8px;
      font-size: 30px;
    }

    .time {
      padding-bottom: 32px;
      font-size: 24px;
    }

    .temp-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 8px;

      .temp {
        font-size: 45px;
        padding: 16px 0 16px 0;
      }

      .temp-desc {
        padding: 2px 0 16px 0;
        font-size: 16px;
      }

      .temp-status {
        font-size: 22px;
        padding-bottom: 56px;
      }

      .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        td {
          text-align: left;
          padding-bottom: 4px;
          padding-right: 16px;
        }
      }
    }

    .small-container {
      width: auto;
      margin: 0 16px 0 16px;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
    }

    .icons {
      display: inline-block;
      vertical-align: middle;
    }

    .text {
      display: inline-block; /* Make the text inline */
    }

    .pdr-0 {
      padding-right: 0;
    }
  }

  .center {
    text-align: center;
  }
}

.no-result {
  text-align: center;
  margin:0;
  padding: 16px;
  font-size: 16px;
  color: gray;
}

.no-data {
  font-size: 24px;
  text-align: center;
  padding: 32px;
  color: gray;
}

@media screen and (max-width: 1030px) {

  .searchbar-container {
    width: calc( 100% - 16px );
  }

  .search-results-container {
    margin-left: 8px;
    margin-right: 8px;
    width:auto;
  }

  .weather-container {
    flex-direction: column;
    width: calc( 100% - 16px );

    .container-1 {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      .forecast-container {
        transform: scale(0.7);
      }

      .status {
        .temp-desc {
          display:block;
          padding-top: 16px;
          font-size: 20px
        }
      }

      .temperature {
        font-size: 120px;
      }
    }

    .container-2 {
      flex-direction: row;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 15px;

      .sub1 {
        flex:1;
      }

      .greeting {
        font-size: 20px;
        padding: 32px 8px 8px 8px;
      }

      .time {
        font-size: 20px;
      }

      .temp-info-container {
        flex:1;

        .temp {
          display:none;
        }

        .temp-desc {
          display: none;
        }

        .temp-status {
          display: none;
        }
      }
    }
  }
}